analysis.txt
gmon.out
ncsh
*.o
test_output.txt
ncsh_builtin_commands_tests
ncsh_parser_tests
ncsh_history_file_tests
.ncsh_history
.ncsh_history_test
NCSH_PARSER_CORPUS/*
NCSH_HISTORY_CORPUS/*
NCSH_AUTOCOMPLETIONS_CORPUS/*
t.txt
a.out
