analysis.txt
gmon.out
ncsh
*.o
test_output.txt
ncsh_builtin_commands_tests
ncsh_parser_tests
ncsh_history_file_tests
.ncsh_history
.ncsh_history_test
t.txt
*.out
database.z
ztests
_z_database.bin
src/development/cash/cash
src/development/termboxshl/tb2sh
